@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This ensures that padding and border are included in element's width and height */
  }

 body {
    margin: 0; /* Remove default body margin */
    height: 100vh; /* Set the body height to fill the viewport */
    width: 100%;
    background-image: url("https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=1060&t=st=1692787309~exp=1692787909~hmac=7e53577b87b61847f9b762cba37f8151bc7b9079783e48956c91457d43e8a7e1");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    width: 50%;
    height: 15%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #B0A4A4;
    background-color: #7A316F;
    padding: 20px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  div.input-group {
    width: 55%;
    height: 18em;
    background-color: #7A316F;
    border: 1px solid blueviolet;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .instruction {
    padding: 20px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #B0A4A4;
    display: flex;
    justify-content: center;
  }

  .temperatures {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-content: center;
    flex-wrap: wrap;
  }

  #label {
    margin-right: 30px;
  }

  .kelvin, .celsius {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #B0A4A4;
  }
 
  footer {
    width: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
  }
/* the :focus selector is used to style an element that currently has focus, meaning it is the active element that is receiving input or interaction from the user. */